:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 4rem 10rem;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
  color: #606060;
  font-weight: 600;
}

#title {
  font-size: 32px;
  line-height: 1.1;
  color: #000000;
  font-weight: 600;
}

#form-title {
  font-size: 16px;
  line-height: 1.1;
  color: #606060;
  font-weight: 600;
}